/*index.html*/

*/*применение параметров ко всему проекту*/{
    font-family: "Roboto", sans-serif; /*стиль шрифта*/
}
.body{
    margin-top: 8px;/*отступ сверху*/
}

.hed{
    display: flex;/*схема расположения элементов по вертикали или горизонтали*/
    justify-content: space-between;/*расположение элементов на равном расстоянии друг от друга*/
    align-items: center;
    padding: 8px 0px;/*отступ во внутрь объекта с образованием краев*/
}

.logo img{
    width: 90px;/*ширина*/
    height: 90px;/*высота*/
}

.school-info{
    text-align: center;/*центрирование текста*/
}

.school-name{
    font-size: 16px;/*размер шрифта*/
    font-weight: bold;/*стиль текста - жирность, ширина начертания одной буквы*/
    margin-left: 110px;/*отступ слева*/
    color: #273641;/*цвет текста*/
}

.contact-info{
    text-align: right;/*расположение текста по правой стороне*/
    color: #273641;/*цвет текста*/
}

.adress-contect{
    font-size: 14px;
    font-weight: 600;
}

.nav{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.nav-item-main{
    margin: 0px 20px;/*отступ ячейки элемента по горизонтали и вертикали*/
    position: relative;/*позиционирование - относительно друг друга*/
    color: #75A4F3;
    font-size: 18px;
    cursor: pointer;/*изменение вида курсора при наведении на элемент. появление пальца вместо стрелки*/
}

.nav-item{
    margin: 0px 20px;
    position: relative;
    color: #75A4F3;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);/*тень текста*/
}

.nav-item::after{
    content: "▼";/*дополнение строки*/
    margin-left: 5px;/*отступ дополнение строки с элементом слева*/
    font-size: 19px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

.dropdown-menu{
    display: none;/*скрытие показа. изначально элемент не виден*/
    position: absolute;/*абсолютная позиция. Элементы не зависимы друг от друга*/
    background-color: #75A4F3;/*заливка (фона, фигуры, ячейки)*/
    border-radius: 8px;/*скругление углов*/
    padding: 15px;/*отступ элемента внутри ячейки со всех сторон*/
    width: 250px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);/*тень фигуры, ячейки*/
    z-index: 999;/*чем больше значение, тем более на переднем плане находится объект. Наслоение друг от друга - числа порядок*/
}

.nav-item:hover .dropdown-menu{
    display: block;/*видимость элемента - выставление стандартного дисплея*/
}

.nav-item-main::after{
    content: none;/*убираем контент после элемента*/
}

.dropdown-menu-item{
    color: white;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 3px 0px; /*отступ ячейки элемента по горизонтали и вертикали*/  
}

.dropdown-menu-item::before{
    content: "▸ ";
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}

.hr-line{
    width: 1050px;
    align-items: center;
    height: 1px;
	padding: 0px;
    border: none;/*отмена обводки элемента*/
    background: linear-gradient(90deg, #75a4f3, #fff, #5f9fdb, #75a4f3, #75a4f3);/*линейный градиент*/
    background-size: 400% 400%;/*размер фона*/
    animation: neo-line 3s linear infinite;/*применение анимации, задается имя анимации, ее длительность, повтор(действие)*/
    transform: translate3d(0, 0, 0);/*неперемещаем анимацию*/
}

@keyframes neo-line{/*инструмент для создания анимации*/
    0%{background-position: 0% 50%;}/*что происходит при начальном и последующих состояниях. 50-не меняется позиция анимации*/
    50%{background-position: 100% 50%;}/*середина*/
    100%{background-position: 0% 50%;}/*финал*/
}

.image-scroll {
    display: flex;
    justify-content: center;
    align-items: center;/*расположение элемента по центру*/
    margin-top: 80px;/*отстсуп ячейки с эелемнтом сверху*/
}

.img-list-scroll{
    animation: img-list-scroll 0.8s ease-in-out;
}

@keyframes img-list-scroll{
    0%{opacity: 1;}/*уровень прозрачности элемента*/
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.gallery {
    display: flex; /* Используем Flexbox */
    align-items: center; /* Центрируем вертикально */
    justify-content: center;
    max-width: 100%;/*максимальная ширина*/
    height: 400px;
    overflow: visible;
}

.gallery img {
    width: 600px;
    height: auto;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    overflow: visible; /*отображение блочного элемента. Но что имеется ввиду под блочным элементом?*/
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.arrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;/*фоновый элемент не повторяется.*/
    background-position: center;
    background-color: transparent; /* Делаем фон прозрачным */
    background-size: contain; /*адаптация размера ячейки в зависимости от ее содержимого*/
    border: none;
    cursor: pointer;
    z-index: 10; /* Стрелки должны быть выше изображения */
    margin: 0 10px; /* Добавляем отступ между стрелками и изображением */
}

.left-arrow {
    background-image: url('../assets/icons/left.svg');/*вставка изображения на фон*/
    width: 30px;
    height: 30px;
}
.right-arrow {
    background-image: url('../assets/icons/right.svg');
    width: 30px;
    height: 30px;
}

.card-container{
    display: flex;
    padding-left: 500px;
    padding-right: 500px;
    justify-content: space-around;/*равноудаленное расстояние между элементами*/
    margin: 32px;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 32px 32px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: #75A4F3;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    animation: card-shadow 5s ease-out infinite alternate;
}

@keyframes card-shadow{
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

.card img{
    width: 80px;
    height: 80px;
}

.card:hover{
    animation: cursore-nav 1s forwards;
}
@keyframes cursore-nav{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-16px);}
}

.card:not(:hover){
    animation: cursore-nav-back 1s forwards;
}

@keyframes cursore-nav-back{
    0%{transform: translateY(-16px);}
    100%{transform: translateY(0px);}
}

/*school-departments.html*/

.directions{
    display: flex;
    justify-content: center;
    font-size: 64px;
    font-weight: 500;
    color: #75A4F3;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}
.directions a{
    align-content: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.card-container2{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 150px);
    gap: 20px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;
    margin: 30px auto;
}

.card-container2{
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 40px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;/*цнтрирование ячейки*/
    margin: 100px auto;
    padding-left: 300px;
    padding-right: 300px;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 1px;
    border-radius: 16px;
    background-color: #75A4F3;
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 3px; /*межстрочный отступ*/
    box-sizing: auto; /*дает понять auto ширине и высоте, в пределах каких значений выставлять*/
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.card2 img{
    width: 70px;
    height: 70px;
    margin-top: 16px;
}

.card2:hover{
    animation: cursore-nav 1s forwards;
}

.card2:not(:hover){
    animation: cursore-nav-back 1s forwards;
} 

/*department-piano.html*/

.hr-line-chapter{
    width: 250px;
    height: 1px;
    background: linear-gradient(to right, #75a4f3, #a883b2);
    box-shadow: 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3;
    border: none;
    animation: glow 1.5s infinite;
}

@keyframes glow{
    0%{box-shadow: 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3;}
    50%{box-shadow: 1px 1px 8px #a883b2, 1px 1px 8px #a883b2, 1px 1px 8px #a883b2;}
    100%{box-shadow: 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3, 1px 1px 8px #75A4F3;}
}

.department-name{
    margin-top: -60px;
    font-size: 64px;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.50);
    text-align: center;
    color: #75A4F3;
}

.info-incoming{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 0px 120px;
    text-align: center;
}

.docs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 0px 120px;
    text-align: center;
    margin-top: 80px;
}

.chapter-name{
    margin-top: 84px;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    text-align: center;
    color: #273641;
}

.card-container-docs{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 2, 250px;
    grid-gap: 32px;
    align-items: center;
    justify-content: center;
}

.card-doc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 150px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #75A4F3;
    color: white;
    font-size: 18px;
    font-weight: 300;
    box-sizing: 300px 250px; /*дает понять контейнеру в пределах каких значений выставлять*/
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.card-doc img{
    width: 80px;
    height: 80px;
    margin-top: 16px;
}

.card-doc:hover{
    animation: cursore-nav 1s forwards;
}

.card-doc:not(:hover){
    animation: cursore-nav-back 1s forwards;
} 

.department-info{
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
    font-size: 24px;
    text-align: justify;
}
.head-techers-list{
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
    font-size: 24px;
    text-align: center;
    line-height: normal;
}

/*administration.html*/
form{
    display:flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

label{
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"]{
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    border: none;
    font-size: 14px;
    padding-bottom: 16px;
    align-items: end;
    width: 200px;
    height: 9px;
}

.form-container{
    background-color: #75A4F3;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 190px;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form-container button{
    border-radius: 4px;
    background-color: white;
    width: 120px;
    height: 30px;
    color: #273641;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.form-container button:hover{
    background-color: #e0e0e0;
}

/*admin-choice.html*/

.card-choice-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
}

.card-choice{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 32px 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: #75A4F3;
    color: white;
    font-size: 14px;
    font-weight: medium;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    animation: card-shadow 5s ease-out infinite alternate;
}

.card-choice:hover{
    animation: cursore-nav 1s forwards;
}

.card-choice:not(:hover){
    animation: cursore-nav-back 1s forwards;
}
@keyframes cursore-nav{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-16px);}
}

.card-choice img{
    width: 90px;
    height: 90px;
    margin-top: 16px;
}

/*admin-editing.html*/
.card-choice-editing{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;
    margin: 30px auto;
}

.card-choice-edit{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 32px 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #75A4F3;
    color: white;
    font-size: 14px;
    font-weight: medium;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    animation: card-shadow 5s ease-out infinite alternate;
}

.card-choice-edit img{
    width: 200px;
    height: 200px;
    margin-top: 16px;
}

.card-choice-edit:hover{
    animation: cursore-nav 1s forwards;
}

.card-choice-edit:not(:hover){
    animation: cursore-nav-back 1s forwards;
}

/*photo-gallery.html*/

.card-choice-editing-photo{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;
    margin: 30px auto;
}

.card-choice-edit-photo{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 32px 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: auto;
    padding: 20px;
    font-size: 14px;
    font-weight: medium;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}

.card-choice-edit-photo img{
    width: 200px;
    height: 200px;
}

.edit-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.edit-photo a{
    font-size: 20px;
    font-weight: medium;
    background-color: #75A4F3;
    border-radius: 8px;
}

.edit-photo img{
    width: 30px;
    height: 30px;
}

.edit-photo img:hover{
    animation: cursore-nav 1s forwards;
}

.edit-photo img:not(:hover){
    animation: cursore-nav-back 1s forwards;
}

/*video-gallery.html*/

.icon-add{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 200px;
}

.card-choice-editing-video{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;
    margin: 30px auto;
}

.card-choice-edit-video{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 32px 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: auto;
    padding: 20px;
    font-size: 14px;
    font-weight: medium;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}

.card-choice-edit-video img{
    width: 200px;
    height: 200px;
}

.card-choice-edit-video iframe{
    width: 200px;
    height: 200px;
}

.edit-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10%;
}

.edit-video a{
    font-size: 20px;
    font-weight: medium;
    background-color: #75A4F3;
    border-radius: 8px;
}

.edit-video img{
    width: 30px;
    height: 30px;
}

.edit-video img:hover{
    animation: cursore-nav 1s forwards;
}

.edit-video img:not(:hover){
    animation: cursore-nav-back 1s forwards;
}

/*poster.html*/

.month-contaner{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 30px);
    gap: 16px; /*отступы между ячейками по высоте и ширине*/
    justify-content: center;
    margin: 10px;
    align-items: center;
}

.month{
    display: flex;
    flex-direction: row;
    background-color: #75A4F3;
    color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: medium;
    padding: 5px;
}

.poster-comtainer{
    display: flex;
    flex-direction: column;
}